name: Terraform Integration Tests

# This workflows requires secrets and needs to be run on workflow_dispatch
on:
  workflow_call:

jobs:
  terratest_redis:
    permissions:
      contents: "read"
      id-token: "write"

    name: Integration test Redis module
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-go@v6
        with:
          go-version-file: "test/integration/go.mod"

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8
          terraform_wrapper: false

      - id: auth
        name: Cloud Auth
        uses: entur/gha-meta/.github/actions/cloud-auth@v1
        with:
          environment: dev
          gcp_workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
          gcp_service_account: ${{ vars.SERVICE_ACCOUNT }}

      - name: Kubernetes Auth
        uses: entur/gha-meta/.github/actions/k8s-auth@v1
        with:
          environment: dev

      - name: Download Go Modules
        working-directory: test/integration
        run: go mod download

      - name: Run Go Integration Tests
        working-directory: test/integration
        run: go test -tags=integration -timeout 30m
